footer {
    height: 80px;
    background: #58C2AD;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

#footer-contact-link, #social-media a{
    color: white;
}

#social-media a {
    padding: 10px;
}