
#home-section h2, #home-section h3{
   /* margin: 0.5em 0;*/
}

#logo-hours-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-hours-container > *{
    margin: 10px 0;
}

#cleaning-supplies {
    background: rgba(53, 180, 208, 0.1);
    width: 400px; 
    height: 400px;
    border-radius: 25%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#hours{
    /*margin-top: 0.5em;*/
    font-size: 1.25em;
}

#cleaningTestimonies{
    margin: 10px 0;
}

.carousel-inner {
    border-radius: 10px;
    border: 1px solid lightgray;
    /*margin: 1em 0;*/
    z-index: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.carousel-item{
    height: 100%;
    text-align: center;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e"); 
    fill: black;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27  width=%278%27 height=%278%27 viewBox=%270 0 8 8%27%3e%3cpath d=%27M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z%27/%3e%3c/svg%3e");
    fill: black;
}

.d-block.w-100 {
    height: 100%;
}

.testimonial {
    font-size: 1.25em;
    text-align: center;
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote{
    font-size: 1.25em;
}

#cleaningTestimonies{
    margin-bottom: 0.5em;
}

