#header {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    border: 1px solid #35B4D0;
    z-index: 3;
}

#logo {
    background: white;
    width: 120px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#image {
    width: 100%;
}

.fa-bars, .fa-close {
    position: absolute;
    transform: translateX(-200vh);
    font-size: 1.25em;
    padding: 10px
}

#navbar a {
    color: #35B4D0;
    font-size: 1.25em;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
}

#navbar a:hover{
    opacity: 0.7;
}